# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Editors
/.vscode/

# Data file (uncompressed)
police-department-calls-for-service.json

# Kafka
/kafka_2.12-2.5.0/
kafka_*-*.tgz
